@import url(http://fonts.googleapis.com/css?family=Dosis:400,500,600);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);

html,body{
  height: 100%;
  padding:0;
  margin:0;
  color: white;
  font-family: 'Dosis', sans-serif;
  background-color:#80B2FF;
  text-align:center;
 

}

div.body {
   height: 100% !important;
   margin:0;
  background-image: url(/images/"clouds-1".jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    
}

/* div.container-index{
  height: 100%;
  margin:0;
  background-color: white no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;  
} */

div.title-motto {
  text-align: center;
  left: 20vw;
  right: 20vw;
  padding-top: 10%;
}

h1.title{
  font-family: 'Dosis', sans-serif;
  font-size: 30vh;
  text-align: center;
}

h2.motto{
  font-size:5vh;
  text-align: center;
  margin: auto;
  font-size: 2vmax;
  font-family: 'Dosis', sans-serif;
}


p.footer{
   left: 30vw;
  right: 30vw;
  text-align: center;
  position:fixed;
  bottom: 0px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1vmax;
  padding-top: 20vh;

 
}
div.homebar{
 


  text-align: center;
  
/*   white-space: nowrap; */

  
}
a#buttonso{
  position: absolute;
  top: 0px;
  right: 10px;

  font-family: 'Dosis', sans-serif;
  

}

}
a.work{
  color:white;

}
a{
  color: white;
  text-decoration: none;
  transition:color 3s, font-size 3s;
  font-size: 2vmax;
  font-family: 'Dosis', sans-serif;
  
}

a:hover {
  color: #8ABDCB;
  text-decoration: none;
  font-size: 3vh;
  font-family: 'Dosis', sans-serif;
  
}





h6#like{
   color:grey;
  font-size: 2vh;
  
}

div.mfst_words{
  color:white;
  font-size: 10vh;

}
h1.feed{
 font-family: 'Dosis', sans-serif;
  color:white;
   font-size: 23vh;
  text-align: center;
    background-color:#80B2FF;
  padding-bottom: 3px;
}



/* video#bgvid {
position: fixed;
top: 50%;
left: 50%;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
z-index: -100;
-webkit-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);
background: url(http://static-p.iuqo.com/media/home/home/video/cloud.mp4) no-repeat;
background-size: cover;
} */
/* _______________________________FEED BUTTONS______________________________ */
button#like{
  padding-top: -3vh;
   border: none;
 background-color: Transparent;
  outline: none;
    color: white;
  font-size: 9vh;
  
}
button#like:hover {
  color: red;
   border: none;
 background-color: Transparent;
  outline: none;
    font-size: 9vh;
}
button#comment{
  border: none;
 background-color: Transparent;
  outline: none;
    color: white;
  font-size: 4vh;
  

}
button#comment:hover {
  color: #A3A3C2;
   border: none;
 background-color: Transparent;
  outline: none;
    font-size: 4vh;
}


a.signoutbutton{
  color:white;
  top:0vh;
  position: absolute;
  right: 1vw;
  font-family: 'Dosis', sans-serif;
  text-decoration: none;
  font-family: 'Advent Pro', sans-serif;
  transition:color 3s, font-size 3s;
  font-size: 2vmax;
  font-family: 'Dosis', sans-serif;
}
a.signoutbutton:hover{
   color: #8ABDCB;
  text-decoration: none;
  font-size: 2vmax;
    font-family: 'Dosis', sans-serif;
}
a.buttonmfst{
   color:white;


/*   left: 1vw; */
  font-family: 'Dosis', sans-serif;
  text-decoration: none;
  font-family: 'Advent Pro', sans-serif;
  transition:color 3s, font-size 3s;
  font-size: 3vh;
  font-family: 'Dosis', sans-serif;
}
a.buttonmfst:hover{
   color: #8ABDCB;
  text-decoration: none;
  font-size: 3vh;
    font-family: 'Dosis', sans-serif;
}
p#pipe{



  font-size: 2vmax;
}
div.nav{
  width: 100%;
  left:1vw;
  text-align:left;
  font-size 2vmax
}
a.buttonme{
   color:white;

 
/*  left: 11.5vw; */
  font-family: 'Dosis', sans-serif;
  text-decoration: none;
  font-family: 'Advent Pro', sans-serif;
  transition:color 3s, font-size 3s;
  font-size: 3vh;
  font-family: 'Dosis', sans-serif;
}
a.buttonme:hover{
   color: #8ABDCB;
  text-decoration: none;
  font-size: 3vh;
    font-family: 'Dosis', sans-serif;
}
a.buttonreturn{
    color:white;

 
/*   left: 14.5vw; */
  font-family: 'Dosis', sans-serif;
  text-decoration: none;
  font-family: 'Advent Pro', sans-serif;
  transition:color 3s, font-size 3s;
  font-size: 3vh;
  font-family: 'Dosis', sans-serif;
}
a.buttonreturn:hover{
   color: #8ABDCB;
  text-decoration: none;
  font-size: 3vh;
    font-family: 'Dosis', sans-serif;
}

p#pipe2{
  font-size: 2vmax;
}



div.feedcenter{
  float: center;
  text-align:center;

 
 
}

h6#mfstwords{
  font-size: 6vh;
  padding-bottom: 0vh;
}

/* _______________________________________LOGIN____________________________________________________ */
a#about2{
left:1vw;
}
a#join{
  left: 1vw;
}
a#login{
  left: 1vw;
}
.login-screen {
  color: #858585;
background-color: #FFF;
  width: 25vw;
  height: 70vh;
/* padding: 10vh 10vw;
   */
border-radius: 5vh;

  text-align: center;
  
   
}
.btn {
  border: 2px solid transparent;
  background: #3498DB;
  color: #ffffff;
  font-size: 4vh;
/*   line-height: 5vh; */
  padding: 1vh ;
  text-decoration: none;
  text-shadow: none;
  border-radius: 2vh;
  box-shadow: none;
  transition: 0.25s;
  display: block;
  width: 15vw;
  margin: 0 auto;

}

.btn:hover {
  background-color: #2980B9;
}
h1#login{
  font-size:6vmax;
}
.login {
/*  padding-right:5vw; */
margin: 5vh  auto;
width: 25vw;
}
h1.logintext{
  font-size:1vmax;
}

div.login-button {


  padding-top:5vh;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
/*   padding-left: 40%; */
/*   padding-right: 0vw; */


  
}
input#email{
  width: 13vw;
  height: 8vh;
  font-size: 2vmax;
}
a.join{
  color: grey;
  font-size:1.5vmax;
}
a.join:hover{
color:#80B2FF;
}
h5.signupline{
  font-size:1.5vmax;
}

/* _____________________________________ABOUT______________________________________________________ */
a#about{
  color:white;
  top:0px;
  position: absolute;
  right: 6vw;
  font-family: 'Dosis', sans-serif;
  text-decoration: none;
  font-family: 'Advent Pro', sans-serif;
  transition:color 3s, font-size 3s;
  font-size: 3vh;
  font-family: 'Dosis', sans-serif;
}
a#about:hover{
   color: #8ABDCB;
  text-decoration: none;
  font-size: 3vh;
    font-family: 'Dosis', sans-serif;
}
h1#about{
  text-align:center;
 font-size:7vmax
}
p#about{
   text-align:center;
  font-size:2vmax
}
a.buttonreturnlogin{
    color:white;
  top:0px;
  position: absolute;
  left:;
  font-family: 'Dosis', sans-serif;
  text-decoration: none;
  font-family: 'Advent Pro', sans-serif;
  transition:color 3s, font-size 3s;
  font-size: 3vh;
  font-family: 'Dosis', sans-serif;
}
a.buttonreturnlogin:hover{
   color: #8ABDCB;
  text-decoration: none;
  font-size: 3vh;
    font-family: 'Dosis', sans-serif;
}

/* _____________________________COMMENTS_____________________________________________ */
a#newmfst{
  left:1vw;
}
h1#comment{
  font-size:10vmax;
}
textarea#conetnt{
   border-radius: 2vh;
  
}
div.comment{
  text-align:center;
}
input.sb{
  padding-top: -3vh;
   border: none;
 background-color: Transparent;
  outline: none;
    color: white;
  font-size: 9vh;
  
}
input.sb:hover {
  color: grey;
   border: none;
 background-color: Transparent;
  outline: none;
    font-size: 9vh;
}
/* _______________________________________NEWMFST________________________________________? */
div#newmfst{
  font-size:5vmax;
  color:grey;
}
h1#newmfst{
  font-size:7vmax;

}
div.words{
 
  text-align:center;
}
input#sb{
  padding-top: -3vh;
   border: none;
 background-color: Transparent;
  outline: none;
    color: white;
  font-size: 9vh;
  
}
input#sb:hover {
  color: grey;
   border: none;
 background-color: Transparent;
  outline: none;
    font-size: 9vh;
}
input#newmfst{
  font-size: 4vmax;
  color:grey;
}
/* ______________________________________________ME____________________________________________ */
a#me{
  left: 1vw;
}

div.me{
  text-align:center;
  
}
h1.me{
  font-size:10vmax;
}
div.feedme{
  font-size:5vmax;
}
div.grey{
  color:grey;
}
