@import url(http://fonts.googleapis.com/css?family=Dosis:400,500,600);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);

html, body{
  height: 100%;
  padding:0;
  margin:0;
  color: white;
  background:#80B2FF; 
    font-family: 'Dosis', sans-serif;
  
/*   background:#80B2FF; */
  position: fixed;
top: 50%;
left: 50%;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
z-index: -100;
-webkit-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);
background: url(http://static-p.iuqo.com/media/home/home/video/cloud.mp4) repeat;
background-size: cover;
}
div.body {
   height: 100% !important;
   margin:0;
  background-color: white no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    
}

/* div.container-index{
  height: 100%;
  margin:0;
  background-color: white no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;  
} */

div.title-motto {
  text-align: center;
  left: 20vw;
  right: 20vw;
  padding-top: 10%;
}

h1.title{
  font-family: 'Dosis', sans-serif;
  font-size: 30vh;
  text-align: center;
}

h2.motto{
  text-align: center;
  margin: auto;
  font-size: 2vmax;
  font-family: 'Dosis', sans-serif;
}


p.footer{
   left: 30vw;
  right: 30vw;
  text-align: center;
  position:fixed;
  bottom: 0px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1vmax;
}
div.homebar{

  text-align: center;
  
}
a#buttonso{
  position: absolute;
  top: 0px;
  right: 10px;
<<<<<<< HEAD
  font-family: 'Dosis', sans-serif;
  

}
a.buttonmfst{
  top:0px;
  position: absolute;
  left: 10px;
  font-family: 'Dosis', sans-serif;
 
 


}
a{
  color: white;
  text-decoration: none;
  font-family: 'Advent Pro', sans-serif;
  transition:color 3s, font-size 3s;
  font-size: 3vh;
  
}
<<<<<<< HEAD
a:hover {
  color: #8ABDCB;
  text-decoration: none;
  font-size: 3vh;
    font-family: 'Dosis', sans-serif;
  
}

/* ________________________________button________________________________________________ */
=======
>>>>>>> eabd68075ef7dd0eafec9fa619bd457be02b47d7
.button {
  
   border: 1px solid #ffffff; */
   background: #fafafa;
   background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#fafafa));
   background: -webkit-linear-gradient(top, #ffffff, #fafafa);
   background: -moz-linear-gradient(top, #ffffff, #fafafa);
   background: -ms-linear-gradient(top, #ffffff, #fafafa);
   background: -o-linear-gradient(top, #ffffff, #fafafa);
   background-image: -ms-linear-gradient(top, #ffffff 0%, #fafafa 100%);
   padding: 4px 8px;
   -webkit-border-radius: 30px;
   -moz-border-radius: 30px;
   border-radius: 30px; */
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #bd7fbd 0 1px 0;
    color: #8ABDCB;
   font-size: 4vh;
  font-family: 'Advent Pro', sans-serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border: 1px solid #ffffff;
   text-shadow: #8feeff 0 1px 0;
    background: #ffffff;
   background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff));
   background: -webkit-linear-gradient(top, #ffffff, #ffffff);
   background: -moz-linear-gradient(top, #ffffff, #ffffff);
   background: -ms-linear-gradient(top, #ffffff, #ffffff);
   background: -o-linear-gradient(top, #ffffff, #ffffff);
   background-image: -ms-linear-gradient(top, #ffffff 0%, #ffffff 100%); 
   color: #8ABDCB;
   }
.button:active {
   text-shadow: #ffff87 0 1px 0;
    border: 1px solid #ffffff; 
   background: #ffffff;
   background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff));
   background: -webkit-linear-gradient(top, #ffffff, #ffffff);
   background: -moz-linear-gradient(top, #ffffff, #ffffff);
   background: -ms-linear-gradient(top, #ffffff, #ffffff);
   background: -o-linear-gradient(top, #ffffff, #ffffff);
   background-image: -ms-linear-gradient(top, #ffffff 0%, #ffffff 100%); 
   color: #8ABDCB;
   }
.buttonlike{
  color:white;
  
}
.buttonlike:hover {
  color: red;
}

}
div.mfst_words{
  color:white;
  font-size: 5vh;
}
h1.feed{
 font-family: 'Dosis', sans-serif;
  color:white;
   font-size: 10vh;
  text-align: center;
}



video#bgvid {
position: fixed;
top: 50%;
left: 50%;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
z-index: -100;
-webkit-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);
background: url(http://static-p.iuqo.com/media/home/home/video/cloud.mp4) no-repeat;
background-size: cover;
}


