
  <title>About</title>

 
   <form action="/signout" method="GET">
    <a class="signoutbutton" href="/signout">Sign Out</a>
  </form>
<a id="about" href="/">Return  |</a>
   
   <h1 id="about">About Manifesto</h1>
   
   <p id="about"> Hello, welcome to Manifest! This website was created by computer programers Christina Philipson, Jackson Robbins, and Quincy Morgan. A manifesto is a published verbal declaration of the intentions, motives, or views of the issuer, be it an individual or a group. We created this website as a space for you to pulblish a manifest, and for others to like and comment on your manifest. The website starts on the homepage, where you can login, sign up, or view all manifestations. Once you have entered the site, you have the option to create and post a new manifest, or go to your profile page.  You have your own private profile, called your "me" page, which is a space where only you can view all of your previous manifestions. The feed shows you all of the manifestations ever made, and allows you to like and comment others manifests.</p>
  
