
  <title>About</title>

 
   <form action="/signout" method="GET">
    <a class="signoutbutton" href="/signout">Sign Out</a>
  </form>
<a class="buttonreturn" href="/">Return</a>

   
   <h1 id="about">About Manifesto</h1>
   
   <p id="about"> Hello, welcome to Manifesto! This website was created by computer programers Christina Philipson, Jackson Robbins, and Quincy Morgan. A manifesto is a published verbal declaration of the intentions, motives, or views of the issuer, be it an individual or a group. We created this website as a space for you to manifest your goals into reality.</p>
  
