<!DOCTYPE html>
<html>
 <head>
<link rel="stylesheet" href="./css/style.css">
  <title>About</title>
 </head>
 <body>
 
   <form action="/signout" method="GET">
    <a id="buttonso" href="/signout">Sign Out</a>
  </form>
   
   <p>Hello, welcome to Manifest! This website was created by computer programers Christina Philipson, Jackson Robbins, and Quincy morgan. We created this website as a space to......</p>
  
 </body>
</html>