<!DOCTYPE html>
<html>
 <head>
<link rel="stylesheet" href="./css/style.css">
  <title>About</title>
 </head>
 <body>
 
   <form action="/signout" method="GET">
    <a id="buttonso" href="/signout">Sign Out</a>
  </form>
   
   <p>Hello, welcome to Manifest! This website was created by computer programers Christina Philipson, Jackson Robbins, and Quincy Morgan. We created this website as a space.... A manifesto is a published verbal declaration of the intentions, motives, or views of the issuer, be it an individual or a group (further edits pending)</p>
  
 </body>
</html>