<div class="comment" >   
<form action="/comment" method="post" id="comment">
    
      
       <h1 id="comment"> Enter your Manifesto! </h1>

           <textarea id="content" name="content" rows="4" cols="90">Enter text here...</textarea>
      <input type="hidden" id="mfst_id" name="mfst_id" value="<%=@mfst_id%>">
      <br><input class="sb" type="submit" value="â˜">
      
  <style type="text/css">

       
    
    </form>
    </div>
    
