    <form action="/comment" method="post" id="comment">
    
      
       <h1 class="jointext"> Enter your comment </h1>
<!--         <input id="content" type="text" rows="4" cols="50" name="content" placeholder="Type here" > -->
           <textarea id="content" name="content" rows="4" cols="50">Enter text here...</textarea>
      <input type="hidden" id="mfst_id" name="mfst_id" value="<%=@mfst_id%>">
      <input type="submit" class="button"value="submit">
      
  <style type="text/css">

       
    
    </form>
    
