
  <title>Manifestations</title>

<div class="feedcontainer">
   <form action="/signout" method="GET">
     <%if session[:user_id] != nil%>
     <a   class="signoutbutton" href="/signout">Sign Out</a>
     <%puts "signout"%>
     <%else%>
     <a class="signoutbutton" href="/login">Login</a>
     <%puts "login"%>
     <%end%>
     
     
    
  </form>

<div class="feedcenter">
   <h1 class="feed"> Manifestations</h1>
      <% @mfsts.each do|mfst|%>
  <div class ="mfst_words">
    <h6 id="mfstwords"> <%=mfst.content%>               <%=mfst.num_likes%> likes</h6>
    

   <a href="/like/<%=mfst.id%>"><button id="like" type="button" class="button">♥</button></a>
    <%end%>    
 </div>   
</div>
      <a class="buttonmfst" href="/new_mfst">New Manifestation</a>|<a class="buttonme" href="/me">Me</a>
</div>
