
  <title>Manifestations</title>


   <form action="/signout" method="GET">
    <a class="buttonso" href="/signout">Sign Out</a>
    
  </form>
   <h1 class="feed"> Manifestations</h1>
      <% @mfsts.each do|mfst|%>
  <div class ="mfst_words">
    <h6> <%=mfst.content%>               <%=mfst.num_likes%> likes</h6>
</div>
   <a href="/like/<%=mfst.id%>"><button type="button" class="button">Like</button></a>
    <%end%>    
      <a class="buttonmfst" href="/new_mfst">New Manifestation</a>
