<!DOCTYPE html>
<html>
 <head>
<link rel="stylesheet" href="style.css">
  <title>Manifestations</title>
 </head>
 <body>
   <form action="/signout" method="GET">
    <a id="buttonso" href="/signout">Sign Out</a>
    
  </form>
   <h1 class="feed"> Manifestations</h1>
      <% @mfsts.each do|mfst|%>
   <h6> <%=mfst.content%> </h6>
    <%end%>    
      <a id="buttonso" href="/new_mfst">New Manifestation</a>
 </body>
</html>