<title>Welcome to Manifesto</title>

<div class="container-index">
<div class="homebar"> 
  <form action="/signout" method="GET">
     <a href="/about">About</a>  |  
  <a href="/feed">Manifestations</a>  |
     <%if session[:user_id] != nil%>
     
     <a class="buttonso" href="/signout">Sign Out</a>
     <%puts "signout"%>
     <%else%>
     <a class="buttonso" href="/login">Login</a>
  
     <%puts "login"%>
    <%end%>
     
    
  </form>

   
  

 

<div class="title-motto">
  <h1 class="title"> Manifesto </h1>
  <h2 class="motto">"Insert Motto Here"</h2>

<!-- <video controls loop id="bgvid" autoplay>
  <source src="http://static-p.iuqo.com/media/home/home/video/cloud.mp4" type="video/mp4">
  <source src="movie.ogg" type="video/ogg">
</video> -->
  </div>




  
   