<!DOCTYPE html>
<html>
 <head>

  <title>Welcome to Manifest</title>
 </head>
 <body>
   <h1 id=main_title> Manifest </h1>
   <h2 id=motto>"Insert Motto Here"</h2>
   
  
 </body>
  <footer> Created by</footer>
</html>