<title>Welcome to Manifesto</title>
<head>
  <link rel="icon" href="./images/favicon.ico" type="image/x-icon"> 
  <link rel="shortcut icon" href="./images/favicon.ico" type="image/x-icon"> 
</head>
<div class="container-index">
<div class="homebar"> 
  <form action="/signout" method="GET">
     <a class="work" href="/about">About</a>  |  
  <a class="work" href="/feed">Manifestations</a>  |
     <%if session[:user_id] != nil%>
     
     <a class="work"href="/signout">Sign Out</a>
     <%puts "signout"%>
     <%else%>
     <a class="work" href="/login">Login</a>
  
     <%puts "login"%>
    <%end%>
    
    
  </form>
 <div>
   
  

 

<div class="title-motto">
  <h1 class="title"> Manifesto </h1>
  <h2 class="motto">"Insert Motto Here"</h2>

<!-- <video controls loop id="bgvid" autoplay>
  <source src="http://static-p.iuqo.com/media/home/home/video/cloud.mp4" type="video/mp4">
  <source src="movie.ogg" type="video/ogg">
</video> -->
  </div>
  </div>




  
   