<!DOCTYPE html>
<html>
 <head>
<link rel="stylesheet" href="style.css">
  <title>Welcome to Manifest</title>
 </head>
 <body>
   <h1 id=main_title> Manifest </h1>
   <h2 id=motto>"Insert Motto Here"</h2>
   <a href="/about">About</a>|<a href="/feed">Manifestations</a>|<a href="/login">Login</a>
   
   
  
 </body>
  <footer> Created by </footer>
</html>