<title>Join <%=@error%></title>
<%=@error%>
<div class="container-login">
  	<div class="login">
  <div class="login-screen">
       <form  action="/join" method="post">
   <h1 id="login"><strong>Login</strong></h1><br>
   
        <input id="email" type="text" name="email"placeholder="Email">
       <br>
   
       
       <br>
      
        <input id="email" type="password" name="password"placeholder="Password">
         <div class="login-button">
           <input type="submit" class="btn btn-primary btn-large btn-block"value="Login">
         </div>
         
  </form>
  </div>
  </div>
</div>
  














  <title>Join <%=@error%></title>

 <body>
   <%=@error%>
       <form action="/join" method="post">
    
      
       <h1 class="jointext"> Enter your email </h1>
        <input id="email" type="text" name="email" placeholder="Email" >
        
         <h1 class="jointext"> Enter a password </h1>
        <input id="password" type="password" name="password"placeholder="Password">
         
        <input type="submit" class="button"value="Join">
  <style type="text/css">

       
    
    </form>
    
 </body>
</html>