<!DOCTYPE html>
<html>
 <head>
<link rel="stylesheet" href="style.css">
  <title>Join</title>
 </head>
 <body>
       <form action="/join" method="post">
    
      
       <h1 class="jointext"> Enter your email </h1>
        <input id="email" type="text" name="email" placeholder="Email" >
        
         <h1 class="jointext"> Enter a password </h1>
        <input id="password" type="password" name="password"placeholder="Password">
         
        <input type="submit" class="button"value="Join">
  <style type="text/css">

       
    </form>
  
 </body>
</html>