
  <title>Login</title>
<div class="container-login">
       <form  action="/login" method="post">
   <h1 id="login">Login</h1>
   <h1 class="logintext"> Enter your email</h1>
        <input id="email" type="text" name="email"placeholder="Email">
         <h1 class="logintext"> Enter your password </h1>
        <input id="password" type="password" name="password"placeholder="Password">
         <input type="submit" class="button"value="Login">
         <h5 id="signupline"> Dont have an account? <a href="/join">Join</a> now! </h5>
  </div>
  