
<title>Login</title>
<a class="buttonreturn" id="login" href="/">Return</a>
<div class="container-login">
  	<div class="login">
  <div class="login-screen">
       <form  action="/login" method="post">
   <h1 id="login"><strong>Login</strong></h1><br>
   
        <input id="email" type="text" name="email"placeholder="Email">
       <br>
   
       
       <br>
      
        <input id="email" type="password" name="password"placeholder="Password">
         <div class="login-button">
           <input type="submit" class="btn btn-primary btn-large btn-block"value="Login">
         </div>
         <h5 class="signupline"> Don't have an account? <a class="join" href="/join">Join</a> now! </h5>
  </form>
  </div>
  </div>
</div>
  