<!DOCTYPE html>
<html>
 <head>
<link rel="stylesheet" href="./css/style.css">
  <title>My Manifestations</title>
 </head>
 <body>
  <form action="/signout" method="GET">
     <%if session[:user_id] != nil%>
     <a class="buttonso" href="/signout">Sign Out</a>
     <%puts "signout"%>
     <%else%>
     <a class="buttonso" href="/login">Login</a>
     <%puts "login"%>
     <%end%>
     
    
  </form>
 </body>
</html>