<!DOCTYPE html>
<html>
 <head>
<link rel="stylesheet" href="./css/style.css">
  <title>My (secret) Profile</title>
 </head>
 <body>

   <%Mfst.where(user_id: session[:user_id]).find_each do |x|%>
   <%=x.content%>
   <br>
   <%=Comment.where(mfst_id: x.id)%>
   <%end%>
   
   
   
   
 </body>
</html>