<!DOCTYPE html>
<html>
 <head>
   <link rel="stylesheet" href="./css/style.css">
  <title>New Manifest</title>
 </head>
 <body>
    <form action="/signout" method="GET">
     <%if session[:user_id] != nil%>
     <a class="signoutbutton" href="/signout">Sign Out</a>
     <%puts "signout"%>
     <%else%>
     <a class="signoutbutton" href="/login">Login</a>
     <%puts "login"%>
     <%end%>
     <a class="buttonreturn" id="newmfst" href="/">Return</a>
    
  </form>
   <div class="words">
   <form action="/feed" method="post">
    
      
    <h1 id="newmfst"> Write down your idea, dream, or something you want to manifest! </h1>
     <div id="newmfst">
       <input type="text" name="content" placeholder="Manifest Here!" >
     </div>
      
        <br><br> <input type="submit" id="sb" id="newmfst" value="â˜">
  <style type="text/css">

       
    </form>
    </div>
  
 