<!DOCTYPE html>
<html>
 <head>
   <link rel="stylesheet" href="./css/style.css">
  <title>New Manifest</title>
 </head>
 <body>
    <form action="/signout" method="GET">
     <%if session[:user_id] != nil%>
     <a class="signoutbutton" href="/signout">Sign Out</a>
     <%puts "signout"%>
     <%else%>
     <a class="signoutbutton" href="/login">Login</a>
     <%puts "login"%>
     <%end%>
     
    
  </form>
   <div class="words">
   <form action="/feed" method="post">
    
      
       <div id="url"> <h1> Write down your idea, dream, or something you want to manifest! </h1>
        <input id="content" type="text" name="content" placeholder="Manifest Here!" >
      
        <br><br> <input type="submit" class="button"value="manifest!"></div>
  <style type="text/css">

       
    </form>
    </div>
  
 </body>
</html>