<!DOCTYPE html>
<html>
 <head>
   <link rel="stylesheet" href="style.css">
  <title>New Manifest</title>
 </head>
 <body>
   <form action="/signout" method="GET">
    <a id="buttonso" href="/signout">Sign Out</a>
    
  </form>
   <form action="/new_gif" method="post">
    
      
       <div id="url"> <h1> Write down your idea, dream, or something you want to manifest! </h1>
        <input id="manifest" type="text" name="manifest" placeholder="Manifest Here!" >
      
        <br><br> <input type="submit" class="button"value="GO"></div>
  <style type="text/css">

       
    </form>
  
 </body>
</html>